node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.backup
.phpunit.result.cache
Dockerfile*
docker-compose*
.dockerignore
.editorconfig
.styleci.yml
.travis.yml
phpunit.xml
tests/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/testing/
storage/framework/views/
vendor/
